<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      $("p").hide();
    $("#show").click(function(){
      $("p").show();
    });
  });
</script>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>

<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/all">All Methods</a></li>
    <li><a href="/form">Add Methods</a></li>
  </ul>
<h1 style="margin-left:5%;margin-top:5%"> Learn a UX Design & Research Method Today!</h1>
<div style="background-color:#F0F0F0;margin:5%;padding:10%;border-radius:16px;" >
<img src={{ random_approach.image }} >
<h2>Method Name: {{ random_approach.name }}</h2>
<button id="show">Tell me more</button>
  <p>Time: {{ random_approach.time }}</p>
  <p>Task: {{ random_approach.task }}</p>
  <p>When: {{ random_approach.when }}</p>
  <p>Why: {{ random_approach.why }}</p>
  <p>Note: {{ random_approach.note }}</p>
  <p>Output: {{ random_approach.output }}</p>
  <p>Next: {{ random_approach.next }}</p>

  <p class="stage">Stage: {{ random_approach.stage.name }}</p>
  <p class="purpose">Purpose: {{ random_approach.purpose.name }}</p>
</div>

</body>
</html>
